@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-black text-white;
  background-image: url("./assets/explore-github.jpg");
  background-size: contain;
  background-position: center;
  background-attachment: fixed;
}
